body {
	/* background-image: url(../images/body-bg.png); */
	background-position: top center;
}

.logo h1 a,
.logo h2 a {
	font-family: Arial, Helvetica, sans-serif;
}

.logo span {
	font-family: Arial, Helvetica, sans-serif;
}

.top-nav,
.top-nav ul li a,
.breaking-news span {
	font-family: Arial, Helvetica, sans-serif;
}

#main-nav,
#main-nav ul li a {
	font-family: Arial, Helvetica, sans-serif;
}

.post-title {
	font-family: Pridi, Arial, Helvetica, sans-serif;
}

.ei-title h2,
.slider-caption h2 a,
.content .slider-caption h2 a,
.slider-caption h2,
.content .slider-caption h2,
.content .ei-title h2 {
	font-family: Arial, Helvetica, sans-serif;
}

/*
#main-nav ul li.current-menu-item a,
#main-nav ul li.current-menu-item a:hover,
#main-nav ul li.current-menu-parent a,
#main-nav ul li.current-menu-parent a:hover,
#main-nav ul li.current-page-ancestor a,
#main-nav ul li.current-page-ancestor a:hover,
.pagination span.current,
.ei-slider-thumbs li.ei-slider-element,
.breaking-news span,
.ei-title h2,
h2.cat-box-title,
a.more-link,
.scroll-nav a,
.flex-direction-nav a,
.tagcloud a:hover,
#tabbed-widget ul.tabs li.active a,
.slider-caption h2,
.full-width .content .slider-caption h2,
.review-percentage .review-item span span,
.review-final-score,
.woocommerce span.onsale,
.woocommerce-page span.onsale,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle,
.button,
a.button,
#main-content input[type="submit"],
#main-content input[type="submit"]:focus,
span.onsale,
.mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
#reading-position-indicator {
  background-color: #085a69 !important;
}*/

::-webkit-scrollbar-thumb {
	background-color: #085a69 !important;
}

/*#main-nav,
.top-nav {
  border-bottom-color: #085a69;
}*/

a:hover {
	color: #000;
	text-decoration: underline;
}

/**/

/*  *** ******************* COMMENTS *** ******************* */

#comment-component-text * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#comment-component-text {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px 15px;
	overflow: hidden;
}

#comment-component-text .comment.comment-answ {
	position: relative;
	left: 8px;
	width: 88%;
}

#comment-component-text #comment_num {
	border-bottom: 1px dashed #365398;
	color: #365398;
	font-weight: bold;
	font-size: 24px;
	width: 100%;
}

#comment-component-text .comment,
#comment-component-text .txt-cmt {
	margin: auto !important;
	width: 100%;
}

#comment-component-text .txt-cmt {
	display: flex;
	align-items: flex-start;
	padding: 20px 0;
}

#comment-component-text .txt-cmt .form-comment__img {
	padding: 0 5px;
	width: 80px;
}

#comment-component-text img {
	max-width: 100%;
	line-height: 1;
	display: inline-block;
	border-radius: 50%;
}

#comment-component-text .form-comment__content {
	width: 100%;
	padding: 0 5px;
}

#comment-component-text .your-name,
#comment-component-text .txt-content {
	font-size: inherit;
}

#comment-component-text .your-name {
	border: 1px solid #ddd;
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 0;
	max-width: 1000px;
	border-radius: none;
}

#comment-component-text .txt-content {
	width: 100%;
	min-height: 40px;
	display: block;
	margin: 15px 0;
	padding: 10px;
	resize: none;
	border: 1px solid #ddd;
	box-sizing: border-box;
	max-width: 1000px;
}

#comment-component-text .add-comment-button {
	background-color: #4267b2;
	border: 1px solid #4267b2;
	border: none;
	color: #fff;
	font-size: 14px;
	border-radius: 2px;
	padding: 0 8px;
	line-height: 22px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	width: initial;
}

#comment-component-text .comment {
	border-top: 1px dashed #ccc;
	display: flex;
	align-items: flex-start;
	padding: 25px 0;
	margin: 0 -10px;
	white-space: normal;
}

#comment-component-text .comment:last-of-type {
	border-bottom: 1px dashed #ccc;
}

#comment-component-text .comment__image {
	flex-grow: 0;
	padding: 0 10px;
	width: 70px;
	height: 50px;
	border-radius: 50%;
}

#comment-component-text .comment__content {
	padding: 0 10px;
	width: 100%;
}

#comment-component-text .comment__content .comment__name {
	margin-top: 0;
	color: #365398;
	font-size: 18px;
	text-align: left;
	text-align-last: left;
	font-weight: 700;
}

#comment-component-text .comment .comment__text {
	margin: 12px 0 7px 0;
	font-size: 16px;
	line-height: 1.4;
}

#comment-component-text .comment__details {
	font-size: 12px;
	color: #365398;
	line-height: 2;
}

#comment-component-text .comment__details a,
#comment-component-text .comment__details span {
	text-decoration: none;
	color: #365398;
	font-size: 12px;
	line-height: 1.4;
	font-weight: 400;
	cursor: pointer;
}

#comment-component-text .comment-img img,
#comment-component-text .comment__details img {
	border-radius: 0;
}

#comment-component-text .comment__details img {
	width: 16px;
	position: relative;
	top: 2px;
}

#comment-component-text .comment .comment__text img {
	display: block;
	width: 300px;
	margin: 8px 0 0;
	border-radius: 0 !important;
	cursor: pointer;
}

#comment-component-text .form-comment {
	font-size: 20px;
	width: 100%;
}

/* *** new fix fox comments 2023-08-22 *** */

#comment-component-text .comment__details button {
	background: transparent;
	border: none;
	color: #365398;
	cursor: pointer;
}

#comment-component-text .events-stop {
	pointer-events: none;
}

#comment-component-text .make-comment {
	display: inline-block;
	white-space: nowrap;
}

#comment-component-text .comment__details i {
	font-style: normal;
	cursor: default;
}

#comment-component-text .comment__details button::after,
#comment-component-text .comment__details .make-comment::after {
	content: "‧";
	display: inline-block;
	width: 13px;
	text-align: center;
}

#comment-component-text .comment__text video {
	margin-top: 5px;
}

#comment-component-text .comment__time {
	white-space: nowrap;
}

#comment-component-text .comment__time:hover {
	cursor: default;
}

.button__footer {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 50px 10px !important;
}

/* /end *** new fix fox comments 2023-08-22 *** */

@media screen and (max-width: 500px) {
	.comment {
		position: relative;
		right: 5px;
	}

	#comment-img-dummy {
		line-height: 1;
		display: inline-block;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		max-width: initial !important;
	}
}

/* *********************** /end COMMENT *** **************************************** */

.entry {
	font-size: 24px;
	line-height: 34px;
}

.entry img {
	display: block;
	margin: 10px auto;
}

.day-blk {
	text-align: center;
	font-weight: bold;
	margin-bottom: 50px;
}

.day-num {
	padding: 0 !important;
}

/* ************************************************* */

/*  buy-button   */

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

.buy-button {
	color: white;
	font-size: 19px;
	font-weight: 700;
	display: block;
	max-width: 320px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	background: rgb(219, 32, 32) none repeat scroll 0% 0%;
	padding: 20px 20px 15px;
	border-image: none;
	border-radius: 6px;
	text-decoration: none;
	margin: 50px auto 45px auto;
	border-bottom: 6px solid transparent;
	animation: 1.7s pulse infinite alternate ease-in-out;
	white-space: nowrap;
	box-shadow: 0px 2px 7px #777;
	background: linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);
	border: none;
}

.buy-button:hover {
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 1199px) {
	.buy-button {
		margin: 50px auto 40px auto;
	}
}

/**/

.footer-inr {
	text-align: center;
	line-height: 24px;
	padding: 15px 0;
	font-size: 16px;
}

.name.post-title.entry-title {
	font-size: 32px;
	font-weight: 600;
	line-height: 44px;
	text-align: center;
}

.top-nav.fade-in.animated1.head_menu {
	padding: 5px;
}

.center {
	text-align: center;
}

/* *** ~ ContentStyles * *** */
/* *** * ************* * *** */
/* *** * ************* * *** */

.order-href:hover {
	text-decoration: none;
	color: red;
}

.order-href-black:hover {
	text-decoration: none;
}

.center {
	text-align: center;
}

.red {
	color: red;
	font-weight: bold;
}

.blue {
	color: #0000ff;
}

b,
strong,
.bold {
	font-weight: bold;
}

.green {
	color: green;
}

.x-bold {
	text-shadow: 0px 0px 1px;
}

i,
.itl {
	font-style: italic;
}

u,
.undrl {
	text-decoration: underline;
}

s,
del,
.str {
	text-decoration: line-through;
}

.grey {
	color: grey;
}

.red-blk {
	padding: 5px;
	background: rgb(151, 0, 0);
	color: #fff;
	text-align: center;
}

.grey-blk {
	padding: 10px;
	background: #e9e9e9;
	color: #000;
	text-align: center;
}

.blk600 {
	display: block;
	margin: 20px auto;
	max-width: 600px;
	text-align: center;
}

.important-v2 {
	border: none;
	color: red;
	padding: 10px;
	background-color: rgb(255, 255, 130);
	border-radius: 3px;
	box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.5);
}

/**/

.tags {
	border-top: 1px solid #ddd;
	padding-top: 15px;
}

.tags .tag {
	margin: 5px;
	/* height: 29px; */
	line-height: 29px;
	background-color: #ebebeb;
	display: inline-block;
	font-size: 12px;
	padding: 0 15px;
	text-decoration: none;
	color: #555;
	border-radius: 3px;
}

/* ******************************************** */

.f40 {
	font-size: 40px;
	line-height: 52px;
}

.f36 {
	font-size: 36px;
	line-height: 48px;
}

.f34 {
	font-size: 34px;
	line-height: 46px;
}

.f32 {
	font-size: 32px;
	line-height: 44px;
}

.f30 {
	font-size: 30px;
	line-height: 42px;
}

.f28 {
	font-size: 28px;
	line-height: 40px;
}

.f26 {
	font-size: 26px;
	line-height: 38px;
}

.f24 {
	font-size: 24px;
	line-height: 36px;
}

.f22 {
	font-size: 22px;
	line-height: 34px;
}

.f20 {
	font-size: 20px;
	line-height: 32px;
}

.f18 {
	font-size: 18px;
	line-height: 30px;
}

.f16 {
	font-size: 16px;
	line-height: 28px;
}

.f14 {
	font-size: 14px;
	line-height: 26px;
}

/* ******************************************** */

.lh46 {
	line-height: 46px;
}

.lh30 {
	line-height: 30px;
}

.lh28 {
	line-height: 28px;
}

.lh26 {
	line-height: 26px;
}

.lh22 {
	line-height: 22px;
}

.lh18 {
	line-height: 18px;
}

/* ******************************************** */

.mgt100 {
	margin-top: 100px;
}
.mgb100 {
	margin-bottom: 100px;
}
.mg100 {
	margin: 100px 0;
}

.mgt70 {
	margin-top: 70px;
}
.mgb70 {
	margin-bottom: 70px;
}
.mg70 {
	margin: 70px 0;
}

.mgt50 {
	margin-top: 50px !important;
}
.mgb50 {
	margin-bottom: 50px;
}
.mg50 {
	margin: 50px 0;
}

.mgt35 {
	margin-top: 35px !important;
}
.mgb35 {
	margin-bottom: 35px;
}
.mg35 {
	margin: 35px 0;
}

.mgt30 {
	margin-top: 35px !important;
}

.mgt25 {
	margin-top: 25px;
}
.mgb25 {
	margin-bottom: 25px;
}
.mg25 {
	margin: 25px 0;
}

.mgt20 {
	margin-top: 20px;
}
.mgb20 {
	margin-bottom: 20px;
}
.mg20 {
	margin: 20px 0;
}

.mgt15 {
	margin-top: 15px;
}
.mgb15 {
	margin-bottom: 15px;
}
.mg15 {
	margin: 15px 0;
}

.mgt10 {
	margin-top: 10px;
}
.mgb10 {
	margin-bottom: 10px;
}
.mg10 {
	margin: 10px 0;
}

.mg5a {
	margin: 5px !important;
}

.mgt5 {
	margin-top: 5px;
}

.mgb5 {
	margin-bottom: 5px;
}

.mgt0 {
	margin-top: 0;
}

.mgb0 {
	margin-bottom: 0;
}

.mg0 {
	margin: 0 !important;
}

/* ************ */

/* *** / ContentStyles * *** */
/* *** * ************* * *** */
/* *** * ************* * *** */

@media screen and (max-width: 985px) {
	#main-nav {
		display: none;
	}
}

@media screen and (max-width: 479px) {
	#theme-header {
		margin: 0;
	}

	#theme-header {
		height: 64px;
		margin: 0;
		margin: 0 !important;
	}
}

@media screen and (min-width: 1024px) {
	.fix-h-desk {
		height: 245px !important;
		object-fit: cover;
	}
}

.to-link {
	cursor: pointer;
}

.regular-price {
	text-decoration: line-through;
	color: red;
}

.doc-q {
	color: #cf0404;
	padding: 0 25px;
	border-radius: 15px;
	text-align: left;
	position: relative;
	margin-top: 10px;
}

.doc-q::before {
	content: "-";
	display: inline-block;
	position: absolute;
	background: #fff;
	top: -13px;
	font-size: 60px;
	width: 38px;
	height: 20px;
	line-height: 60px;
	font-style: italic;
	text-align: left;
	color: #f00;
}

#form_after_blk {
	margin-bottom: 25px;
	background: #fff;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
	padding: 5px 10px 20px 10px;
	margin: 50px 0;
	position: relative;
	overflow: hidden;
}

#form_after_blk .product-name {
	font-size: 32px;
	line-height: 48px;
	margin-top: 10px;
}

#form_after_blk .product-description {
	max-width: 580px;
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	text-align: center;
	padding: 5px;
	color: rgb(0, 0, 0);
	font-size: 26px;
	font-weight: bold;
	border-radius: 15px;
	margin: 15px auto;
	line-height: 34px;
}

#form_after_blk .label-discont {
	margin: 0;
	position: relative;
	top: 16px;
	width: 100px;
}

#form_after_blk .product-image-blk {
	/* background-color: ivory; */
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	text-align: center;
	padding: 0;
	border-radius: 5px;
	/* box-shadow: 0px 2px 4px #555; */
}

#form_after_blk .product-image {
	margin: 0;
}

#form_after_blk .order-form-blocks {
	display: flex;
	flex-flow: column wrap;
	max-width: 400px;
	margin: 0 auto;
}

#form_after_blk .order-form-blocks * {
	margin: 8px 0;
}

#form_after_blk .order-form-blocks input {
	height: 47px;
	padding: 5px;
	font-size: 28px;
	max-width: 400px;
	box-shadow: 0px 0px 5px #bfc1cc;
	padding: 7px;
	border-radius: 5px;
	border: none;
	width: 100%;
	box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 2px 4px #555;
	box-sizing: border-box;
	cursor: initial;
}

#form_after_blk .order-form-blocks .order-btn {
	height: 98px;
	padding: 5px;
	font-size: 28px;
	cursor: pointer;
	background: linear-gradient(
		to bottom,
		#f5f6f6 0%,
		#dbdce2 21%,
		#b8bac6 49%,
		#dddfe3 80%,
		#f5f6f6 100%
	);
	border: none;
	border-radius: 5px;
	box-shadow: 0px 3px 5px #555;
	position: relative;
	overflow: hidden;
	background: red;
	color: #000;
	animation: chngColor 4s infinite;
	line-height: 36px;
	padding: 5px 0 0 0;
}

#form_after_blk .order-form-blocks .order-btn:hover {
	background: linear-gradient(to bottom, #ffa5a5 0%, #f00 100%);
	color: #fff;
	animation: none;
}

@keyframes chngColor {
	0% {
		background-color: red;
		color: #fff;
	}
	50% {
		background-color: yellow;
		color: #000;
	}
	100% {
		background-color: red;
		color: #fff;
	}
}

#form_after_blk .toform-btn-note {
	display: block;
	margin: 10px auto;
	font-size: 24px;
	text-align: center;
	color: white;
}

/*  /end FORM ORDER */

hr,
.sepr-line {
	border: none;
	height: 1px;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0) 0%,
		#000 50%,
		rgba(255, 255, 255, 0) 100%
	);
	margin: 25px 0;
	clear: both;
}

@media screen and (min-width: 1024px) {
	.hide-dsk {
		display: none;
	}
}
