.page__game{
  position: relative;
  
  &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 480px;
      background-size: cover;

      &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          height: 100%;
          width: 100%;
          background-color: rgba(#000, 0.9);
      }
  }
  
  .container__wrap {
      position: absolute;
      z-index: 1;
      width: 100%;
      padding: 30px;
      box-sizing: border-box;
      
      .main__wrap {
          position: relative;
          max-width: 1100px;
          margin: 0 auto;
          
          &-header {
              display: flex;
              align-items: center;
          }
  
          .btn-back {
              position: absolute;
              top: 16px;
              display: block;
              width: 36px;
              transform: rotate(180deg);
      
              &:hover,
              &:focus {
                  svg {
                      transform: translateX(10px);
                  }
              }
      
              svg {
                  fill: #fff;
                  transform: translateX(0);
                  transition: transform 0.8s;
              }
          }
      }
  }
  
  .header__poster {
      padding-right: 30px;
      padding-top: 65px;
      width: 400px;
      flex-shrink: 0;
      
      img {
          width: 100%;
      }
  }
  
  .header__content {
      padding: 20px 0;
      color: #fff;
      width: 100%;
      
      .game__page-title {
          padding: 0;
          font-size: 38px;
          font-weight: 700;
          text-align: center;
          margin-bottom: 10px;
          text-shadow:  3px 3px 2px #5b5b5d,
      }
  
      .game__page-subname {
          font-style: italic;
          font-size: 28px;
          text-align: center;
          margin-bottom: 25px;
      }
      
      .game__page-info {
          padding: 0;
          margin-top: 14px;
          font-size: 19px;
          font-weight: 700;
          line-height: 1.1;
          letter-spacing: 1px;
          word-spacing: 1px;
      }
  
      .colored {
          font-size: 17px;
          font-weight: 400;
          padding-left: 10px;
      }
      
  }
  
  .game__page-description {
      font-size: 17px;
      padding-top: 10px;
      width: 800px;
      margin: 50px auto;
      line-height: 1.7;
      letter-spacing: 1.5px;
      word-spacing: 1px;
      text-align: center;
  }
  
  .footer__button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -20px ;
      margin-bottom: 50px;
      padding-left: 450px;
  
      &-elem {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          //width: 160px;
          //height: 35px;
          color: #fafafa;
          padding: 12px 14px;
          background: #00481e;
          border: 0;
          border-radius: 30px;
          outline: none;
          margin: 6px;
          cursor: pointer;
          transition: .5s;
          letter-spacing: 0.8px;
      
          &:hover {
              background: #01722b;
          }
      }
  }
}
